# #!/usr/bin/ruby
#
# Custom ruby snippets
snippet it
	it "${1:behaves in some way}" do
	  ${2}
	end
snippet desc
	describe "${1:some context}" do
		${2}
	end
snippet {
	{ ${1} 
snippet con
	context "when ${1:some thing is going on}" do
		${2}
	end
snippet d
	do
		${1}
	end
snippet |
	|${1:args}| ${2}
