snippet utf
# encoding: utf-8

endsnippet

snippet pdb
import pdb; pdb.set_trace()
endsnippet

snippet ipdb
import ipdb; ipdb.set_trace()
endsnippet

snippet ipy
import IPython; IPython.embed()
endsnippet

# Mamba snippets
snippet it
with it("${1:behaves in some way}"):
	${2}
endsnippet

snippet desc
with describe("${1:some method or case}"):
	${2}
endsnippet

snippet con
with context("${1:doing something}"):
	${2}
endsnippet
